<h1>Feed Types</h1>

<a href="{% url "feed_type_create" %}">Create New Feed Type</a>
<br/>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for feed in object_list %}
        <tr>
            <td><a href="{% url "feed_type_detail" feed.id %}">{{ feed.name }}</a></td>
            <td><a href="{% url "feed_type_edit" feed.id %}">Edit</a></td>
            <td><a href="{% url "feed_type_delete" feed.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>