<h1>Feeds</h1>

<a href="{% url "feed_create" %}">Post New Feed</a>
<br/>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for feed in object_list %}
    <tr>
        <td><a href="{% url "feed_detail" feed.id %}">{{ feed.title }}</a></td>
        <td><a href="{% url "feed_edit" feed.id %}">Edit</a></td>
        <td><a href="{% url "feed_delete" feed.id %}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>